.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    
  }
  .playbut{
    background-color: pink;
   
    border: 2px solid rgb(10, 15, 4);
    font-weight: bold;
    color: black;
    width:20%;
    height:15%;
    padding: 15px 10px;
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
  
  
  }
  /*.hi{
    
    font-weight: bold;
    align-items: center;
    
    width: 12%;
    padding: 0%;
    margin: 10%;
  }
  .fo
  {
    align-items: center;
    display: block;
    margin: 10%;
    
    
  }*/
  div{
    text-align: center;
    align-items: center;
  }
  body{
    background-color: lightblue;
    background-repeat: no-repeat; 
    
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  input[type=text],input[type=text],input[type=text],input[type=text],input[type=text],select{
    width: 10%;
    padding: 1%;
    margin: 2%;
    display: inline-block;
    border: 1px solid #130303;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: whitesmoke;
    text-decoration: double;
    text-decoration-style: solid;
    text-decoration-color: black;
    
}
/*button{
    width: 10%;
    padding: 1%;
    color: black;
    
}*/
